body{
    margin: 0;
    padding: 0;
    background: #eee;
}

.container{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif; /*p comentar usa ctrl + ;*/
    box-sizing: border-box; 
}

.cabecalho {
    display: flex;
    position: fixed;  /*O cabecalho é fixo na pag*/
    top: 0;  /*O cabecalho é fixo em cima, assim o top é 0*/
    left: 0;  /*o cabecalho vai ficar fixo na esquerda, assim o left é 0*/
    width: 100%;
    height: 6rem;
    background: rgb(49, 85, 87);
    color: #eee;
    justify-content: center; /*Alinha os itens ao centro do container.*/
    align-items: center; /*Alinha os itens ao centro.*/
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); /*Faz a sombra*/
    z-index: 10;  /*Dizer q o cabecalho está sobre os outros elementos*/
}

.formulario{
    position: fixed;  /*o formulário é fixo na pag*/
    top: 6rem;
    left: 0;
    width: 50%; /*a largura é 50% da largura total*/
    height: calc(100vh - 12rem);
    background: rgb(62, 127, 128);
    display: flex;
    flex-direction: column; /*Os itens são organizados em forma de colunas iniciando de cima para baixo;*/
    justify-content: space-around; 
    align-items: center;
    box-sizing: border-box; /*Não deixa as propriedades expandirem, faz contrair*/
}

.comprar,
.campos{
    width: 80%;
    height: 40px;
    line-height: 40px;  /* Controla o espaçamento entre as linhas de um texto */
    border-radius: 50px; /* Define as bordas arredondadas*/
    padding: 0 15px;
    font-size: 1.2em;
    box-sizing: border-box;
    outline: none; /*Configura o contorno*/
    border: none; /*Sem borda*/
}

.campos:focus,
.comprar:hover{ /*Pseudo classe = foco, recebeu o foco muda de cor*/
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.comprar{
    background: rgb(49, 85, 87);
    color: #eee;
    cursor: pointer; /*Aparece o dedinho no cursor*/
}

.relatorio{
    margin: 6rem 0 6rem 50%; /*Margem da parte de cima, parte de baixo, direita e esquerda*/
    width: 50%;
    box-sizing: border-box;
    padding: 20px;

}

.cabecalho-nf, 
.card-item-nf{
    display: flex;
    width: 100%; /*largura referente ao elememento pai*/
    background: #fff;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /*Faz a sombra*/
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.cabecalho-nf p,
.card-item-nf p { 
    flex-grow: 1;
}

.cabecalho-nf p:first-child,
.card-item-nf p:first-child{ /*Firstchild: primeiro elemento*/
    flex-grow: 4;
}

.total{
    display: flex;
    height: 6rem; /*altura*/
    width: 100%; /*largura*/
    position: fixed; /*fixado em um lugar*/
    bottom: 0; /*tira a linha de cima*/
    left: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3); /*negativo a sombra fica para cima*/   
}